<section class="new training d-flex justify-content-center my-1rem">
    <mat-card class="d-flex justify-content-center px-1rem py-1rem justify-content-center w-100 card-big-screen-limit">
        <form class="d-flex justify-content-center flex-column align-center" (ngSubmit)="onStartTraining(f)"
            #f="ngForm">
            <mat-card-title class="d-flex pb-1rem justify-content-center">
                <span class="px-0">
                    Time to start a workout!
                </span>
            </mat-card-title>
            <!--<mat-card-content class="py-1rem px-0">
            <span class="d-flex flex-0 px-0 justify-content-center">
                Select type of training
            </span> 
        </mat-card-content>-->
            <mat-form-field appearance="fill">
                <mat-label>Select type of training</mat-label>
                <mat-select ngModel name="exercise" required>
                    <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                        {{ exercise.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-actions class="d-flex justify-content-center">
                <span class="d-flex flex-0 px-0">
                    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">START</button>
                </span>
            </mat-card-actions>
        </form>
    </mat-card>
</section>