<mat-toolbar color="primary" class="d-flex flex-column mb-1rem">
    <span class="w-100 d-flex m-auto mx-1rem">
        <div>
            <button mat-icon-button (click)="onToggleSidenav()" class="show-on-small-screens">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="d-flex align-center ms-1rem">
            <a routerLink="/" class="d-flex justfiy-content-center align-center">
                <img style="width:24px; height:24px;" src="/assets/images/logo.svg" alt=" LOGO">
            </a>
        </div>
        <div class="flex-1 justify-content-end show-on-medium-screens">
            <ul class="d-flex flex-row navigation-items">
                <li *ngIf="!(isAuth$ | async)"><a class="d-flex align-center" routerLink="/signup">Signup</a></li>
                <li *ngIf="!(isAuth$ | async)"><a class="d-flex align-center" routerLink="/login">Login</a></li>
                <li *ngIf="isAuth$ | async"><a class="d-flex align-center" routerLink="/training">Training</a></li>
                <li style="cursor: pointer;" *ngIf="isAuth$ | async" (click)="onLogout()"><a
                        class="d-flex align-center">Logout</a></li>
            </ul>
        </div>
    </span>
</mat-toolbar>