<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="d-flex flex-column">
            <span class="w-100 d-flex m-auto mx-1rem">
                <div>
                    <button mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="d-flex align-center">
                    LOGO
                </div>
                <div class="d-flex flex-1 justify-content-end">
                    <a class="d-flex align-center" routerLink="/signup">Signup</a>
                    <a class="d-flex align-center" routerLink="/login">Login</a>
                    <a class="d-flex align-center" routerLink="/training">Training</a>
                </div>
            </span>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>