<div class="welcome d-flex flex-column w-100 justify-content-center">
    <section class="d-flex flex-0 flex-column ">
        <h1 class="d-flex flex-0 justify-content-center">Activity</h1>
        <p class="d-flex flex-0 justify-content-center">Stay active and enjoy better health and more fun!</p>
    </section>
    <section class="d-flex flex-0 flex-column">
        <h1 class="d-flex flex-0 justify-content-center">Community</h1>
        <p class="d-flex flex-0 justify-content-center">Get to know other people who share your passion!</p>
    </section>
    <section class="d-flex flex-0 flex-column">
        <h1 class="d-flex flex-0 justify-content-center">Challenges</h1>
        <p class="d-flex flex-0 justify-content-center">Never stop! Dive into new chanllenges every day</p>
    </section>
</div>