/* You can add global styles to this file, and also import other style files */

* {
    font-size: 16px;
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.no-border {
    border: none;
}

.no-bg {
    background: none;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-1 {
    flex: 1;
}

.flex-0 {
    flex: 0;
}

.justify-content-start {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-top {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-bottom {
    align-items: flex-end;
}

.vetical-align-middle {
    vertical-align: middle;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-1rem {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.ms-1rem {
    margin-left: 1rem !important;
}

.me-1rem {
    margin-right: 1rem !important;
}

.my-1rem {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mt-1rem {
    margin-top: 1rem !important;
}

.mb-1rem {
    margin-bottom: 1rem !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.px-1rem {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.ps-1rem {
    padding-left: 1rem !important;
}

.pe-1rem {
    padding-right: 1rem !important;
}

.py-1rem {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pt-1rem {
    padding-top: 1rem !important;
}

.pb-1rem {
    padding-bottom: 1rem !important;
}

.text-center {
    text-align: center;
}



/* global definitions*/

@media screen and (min-width: 992px) {
    .show-on-medium-screens {
        display: flex;
    }

    .show-on-small-screens {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .show-on-small-screens {
        display: flex;
    }

    .show-on-medium-screens {
        display: none !important;
    }
}